<template>
    <div class="home">
        <h1>{{title}}</h1>

        <vue-highcharts :options="options" ref="lineCharts"></vue-highcharts>

    </div>

</template>

<script type="text/ecmascript-6">

    import VueHighcharts from 'vue2-highcharts'
    import global from './../store/globals'
    import OnboardingStatistics from './../services/onboarding-statistics'

    export default{
        name: 'Home',
        components: {
            VueHighcharts
        },
        data(){
            return {
                title: 'Home',
                statisticsData: [{x: 1}],
                options: {
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: 'Weekly on boarding statistics'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        title: {
                            text: 'On boarding percentage (%)'
                        },
                        min: 0,
                        max: 100,
                        allowDecimals: false,
                    },
                    yAxis: {
                        title: {
                            text: 'Users %'
                        },
                        labels: {
                            formatter: function () {
                                return this.value + '°';
                            }
                        },
                        max: 100
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 4,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        }
                    },
                    series: []
                }
            }
        },
        beforeMount(){
            this.getStatisticsData()
        },
        methods: {
            getStatisticsData(){
                OnboardingStatistics.onBoardingStatistics(this)
                        .then((response)=> {
                            this.loadChart(response.weeks)
                        })

            },
            loadChart(weeks)
            {
                let lineCharts = this.$refs.lineCharts;
                lineCharts.delegateMethod('showLoading', 'Loading...');
                setTimeout(() => {
                    for (let week of weeks) {
                        lineCharts.addSeries(week);
                    }
                    lineCharts.hideLoading();
                }, 2000)
            }
        }
    }
</script>