<script type="text/ecmascript-6">
    var moment = require('moment')
    export default{
        template: '\
        <input class="form-control datepicker"\
            ref="input"\
            v-bind:value="value"\
            v-on:input="updateValue($event.target.value)"\
            data-date-format="dd-mm-yyyy"\
            data-date-end-date="0d"\
            placeholder="dd-mm-yyyy"\
            type="text"\
        />\
        ',
        props: {
            value: {
                type: String,
                default: moment().format('DD-MM-YYYY')
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                $(this.$el).datepicker({
                    startView: 1,
                    todayHighlight: true,
                    todayBtn: "linked",
                    autoclose: true,
                    format: "dd-mm-yyyy"
                }).on('changeDate', function (e) {
                    var date = e.format('dd-mm-yyyy');
                    this.updateValue(date);
                });
            });
        },
        methods: {
            updateValue: function (value) {
                this.$emit('input', value);
            },
        }
    }

</script>