<template>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Temper</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <router-link :class="['nav-link']" v-show="!user.authenticated" v-bind:to="'/login'">Login
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :class="['nav-link']" v-show="user.authenticated" v-bind:to="'/logout'">Logout
                    </router-link>
                </li>
                <li class="nav-item active">
                    <router-link :class="['nav-link']" v-bind:to="'/'">Home</router-link>
                </li>
            </ul>
        </div>
    </nav>

</template>

<script type="text/ecmascript-6">

    import store from '../../store/'

    export default {
        data(){
            return {
                user: store.state.user
            }
        }
    }
</script>