<template>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="flex-row">
                <form @submit.prevent="validateBeforeSubmit">
                    <div class="flex-row" style="padding-bottom: 10px">
                        <button class="btn btn-primary btn-lg btn-block">Facebook</button>
                    </div>
                    <div class="container-fluid card">
                        <h2>{{title}}</h2>

                        <div class="form-group" :class="{'has-error': errors.has('email') }">
                            <label class="control-label float-left" for="email">E-mail</label>
                            <input
                                    type="text"
                                    name="email"
                                    class="form-control"
                                    placeholder=""
                                    v-model="email"
                                    v-validate="'required'"
                                    :class="{'input': true, 'is-danger': errors.has('email') }"
                            >
                            <p class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</p>
                        </div>
                        <div class="form-group" :class="{'has-error': errors.has('password') }">
                            <label class="control-label float-left" for="password">Password</label>
                            <label class="control-label float-right"><a>Forgot password</a></label>
                            <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    placeholder=""
                                    v-model="password"
                                    v-validate="'required'"
                                    :class="{'input': true, 'is-danger': errors.has('password') }"
                            >

                            <p class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</p>
                        </div>
                    </div>
                    <div class="flex-row">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                    </div>
                </form>
                <div class="flex-row" style="padding-top: 20px;">
                    <div> New ?</div>
                    <button @click="userRegistration" class="btn btn-secondary">
                        <router-link :class="['nav-link']" v-bind:to="'/registration-portal'">
                            Create an account
                        </router-link>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import auth from '../../services/auth'

    export default {
        data() {
            return {
                title: 'Login',
                email: '',
                password: ''
            }
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then(result => {
                            if (result) {
                                this.submit()
                            }
                        }
                )
            },
            submit() {
                var credentials = {
                    user: {
                        email: this.email,
                        password: this.password
                    }
                }
                auth.login(this, credentials, '/')
            },
            userRegistration(){

            }
        }

    }
</script>