<template>
</template>

<script type="text/ecmascript-6">

//    import { setIdToken, setAccessToken } from '../../services/auth';
//
//    export default {
//        name: '',
//        mounted() {
//            this.$nextTick(() => {
//               // setAccessToken();
//            //setIdToken();
//            window.location.href = '/';
//        });
//        },
//    };
</script>