<template>
    <div id="app">
        <div class="container-fluid">
            <main-menu></main-menu>
        </div>
        <div class="container-fluid">
            <router-view></router-view>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import MainMenu from '../src/components/common/MainMenu.vue'

    export default {
        name: 'app',
        components: {
            'main-menu': MainMenu
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
