<template>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <span>Your future business card</span>
            <div class="flex-row">
                <div class="card card-inverse card-info mb-3 text-center">
                    <div class="card-block">
                        <h3 class="card-title">temperID</h3>
                        <blockquote class="card-blockquote">
                            <form @submit.prevent="validateBeforeSubmit">
                                <div class="form-group"></div>
                                <div class="form-group" :class="{'has-error': errors.has('first_name') }">
                                    <input
                                            type="text"
                                            name="first_name"
                                            class="form-control"
                                            placeholder="What is your first name?"
                                            v-model="first_name"
                                            v-validate="'required|alpha|min:3|max:50'"
                                            v-on:change="enableButton"
                                            :id="'first_name'"
                                            :class="{'input': true, 'is-danger': errors.has('first_name') }"
                                    >
                                    <p class="text-danger" v-show="errors.has('first_name')">{{
                                        errors.first('first_name')
                                        }}</p>
                                </div>
                                <div class="flex-row">
                                    <button
                                            :disabled="this.isButtonDisabled"
                                            class="btn btn-secondary"
                                    >
                                        To work
                                    </button>
                                </div>
                            </form>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import registration from '../../services/registration'

    export default {
        data() {
            return {
                title: 'Business Card',
                first_name: '', //cannot make first name unique for validations
                isButtonDisabled: true
            }
        },
        methods: {
            enableButton(){
                this.isButtonDisabled = true
                if (this.first_name.length >= 3) {
                    this.isButtonDisabled = false
                }
            },
            validateBeforeSubmit(){
                this.$validator.validateAll().then(result => {
                            if (result) {
                                this.submit()
                            }
                        }
                )
            },
            submit(){
                var profile = {first_name: this.first_name}
                registration.businessCard(this, profile, '/registration-who-are-you')
            }
        }

    }
</script>