<template>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="flex-row">
                <div class="jumbotron">
                    Determine yourself, when and for what rate you work. Have you already
                    have an account on Temper?
                    <router-link :class="" v-bind:to="'/'">
                        Log in here
                    </router-link>
                </div>
                <div class="flex-row" style="padding-bottom: 10px">
                    <button class="btn btn-primary btn-lg btn-block">I'm looking for staff</button>
                </div>
                <div class="flex-row">
                    <router-link :class="'btn btn-success btn-lg btn-block'" v-bind:to="'/registration-business-card'">
                        I am looking for a job
                    </router-link>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4"></div>
    </div>
</template>

<script type="text/ecmascript-6">

    export default {
        data() {
            return {
                title: 'Portal',
                email: '',
                password: ''
            }
        }
    }
</script>