<template>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="flex-row">
                <div class="jumbotron">
                    <h4 class="display-5">Woohoo, succeeded!</h4>
                    We have sent you an mail to {{profile.email}} please
                    click on that link to activate your account
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        data() {
            return {
                title: 'Woohoo, succeeded!',
                profile: this.$store.state.user.profile,
            }
        }
    }
</script>