<template>
    <div id="who-are-you" class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="flex-row">
                <form @submit.prevent="validateBeforeSubmit">
                    <div class="container-fluid card">
                        <div class="form-group">
                            <label class="float-left">{{title}}</label>
                        </div>
                        <div class="row"><p class="text-danger" v-show="errors.has('first_name')">{{
                            errors.first('user_title') }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('first_name')">{{
                            errors.first('first_name') }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('email')">{{ errors.first('email')
                            }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('phone')">{{ errors.first('phone')
                            }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('dob')">{{ errors.first('dob') }}</p>
                        </div>
                        <div class="row"><p class="text-danger" v-show="errors.has('postal_code')">{{
                            errors.first('postal_code') }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('house_number')">{{
                            errors.first('house_number') }}</p></div>
                        <div class="row"><p class="text-danger" v-show="errors.has('addition')">{{
                            errors.first('addition') }}</p></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group" :class="{'has-error': errors.has('user_title') }">
                                    <select
                                            name="user_title"
                                            class="form-control"
                                            v-model="user_title"
                                            v-validate="'required'"
                                            :class="{'input': true, 'is-danger': errors.has('user_title') }"
                                    >
                                        <option value="" disabled selected>Title</option>
                                        <option
                                                v-for="title in titleList"
                                                :value="title.id">
                                            {{title.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" :class="{'has-error': errors.has('first_name') }">
                                    <input
                                            type="text"
                                            name="first_name"
                                            class="form-control"
                                            placeholder="First Name"
                                            v-model="first_name"
                                            v-validate="'required|alpha|min:3|max:100'"
                                            :class="{'input': true, 'is-danger': errors.has('first_name') }"
                                    >
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group" :class="{'has-error': errors.has('last_name') }">
                                    <input
                                            type="text"
                                            name="last_name"
                                            class="form-control"
                                            placeholder="Last Name"
                                            v-model="last_name"
                                            v-validate="'alpha'"
                                            :class="{'input': true, 'is-danger': errors.has('last_name') }"
                                    >
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" :class="{'has-error': errors.has('email') }">
                                    <label class="control-label float-left" for="email">E-mail</label>
                                    <input
                                            type="text"
                                            name="email"
                                            class="form-control"
                                            placeholder=""
                                            v-model="email"
                                            v-validate="'required|email'"
                                            :class="{'input': true, 'is-danger': errors.has('email') }"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label float-left" for="phone">Telephone</label>
                                <div class="form-group" :class="{'has-error': errors.has('phone') }">
                                    <input
                                            type="text"
                                            name="phone"
                                            class="form-control"
                                            placeholder=""
                                            v-model="phone"
                                            v-validate="'required|min:10|max:15'"
                                            :class="{'input': true, 'is-danger': errors.has('phone') }"
                                    >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label float-left" for="dob">Date of Birth</label>
                                <div class="form-group" :class="{'has-error': errors.has('dob') }">
                                    <input
                                            type="date"
                                            name="dob"
                                            class="form-control datepicker"
                                            placeholder=""
                                            v-model="dob"
                                    />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label float-left" for="postal_code">Postal Code</label>
                                <div class="form-group" :class="{'has-error': errors.has('postal_code') }">
                                    <input
                                            type="text"
                                            name="postal_code"
                                            v-model="postal_code"
                                            v-validate="'required|min:4|max:15'"
                                            placeholder=""
                                            class="form-control"
                                            :class="{'input': true, 'is-danger': errors.has('postal_code') }"
                                    >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label float-left" for="house_number">House Number</label>
                                <div class="form-group" :class="{'has-error': errors.has('house_number') }">
                                    <input
                                            type="text"
                                            name="house_number"
                                            v-model="house_number"
                                            v-validate="'required|min:4|max:50'"
                                            placeholder=""
                                            class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label float-left" for="addition">Addition</label>
                                <div class="form-group" :class="{'has-error': errors.has('addition') }">
                                    <input
                                            type="text"
                                            name="addition"
                                            v-model="addition"
                                            v-validate="'max:50'"
                                            placeholder=""
                                            class="form-control"
                                    />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="flex-row">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Register TemperID</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import { ErrorBag } from 'vee-validate';
    import registration from '../../services/registration'

    const bag = new ErrorBag();

    export default {
        data() {
            return {
                title: 'Who are you?',
                user_title: '',
                first_name: this.$store.state.user.profile.first_name,
                last_name: '',
                email: '',
                phone: '',
                dob: '',
                postal_code: '',
                house_number: '',
                addition: '',
                titleList: this.$store.state.lists.title
            }
        },
        components : {
            bag
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then(result => {
                            if (result) {
                                this.submit()
                            }
                        }
                )
            },
            submit() {
                var profile = {
                    user_title: this.user_title,
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    phone: this.phone,
                    dob: this.dob,
                    postal_code: this.postal_code,
                    house_number: this.house_number,
                    addition: this.addition,
                }
                registration.whoAreYou(this, profile, '/registration-success')
            }
        }

    }
</script>